.App {
  width: 100%;
  text-align: center;

  &-header {
    @include col;
    width: 100%;
    padding: 0.625rem;
    background-color: #282c34;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }

  .left-panel {
    @include col;
    flex: 0 0 40%;
    padding: 20px;
    align-items: center;
    box-sizing: border-box;
  }

  .right-panel {
    flex: 0 0 60%;
    padding: 20px;
    box-sizing: border-box;
  }

  .dropzone-container {
    @include col;
    flex: 1;
    margin-bottom: 20px;
    width: 100%;
    align-items: center;
  }

  .dropzone {
    width: calc(80% - 40px);
  }

  .hint-container {
    margin: 10px;
  }

  button {
    border: none;
    border-radius: $border-radius;
    padding: 10px 20px;
    background-color: $main;
    color: white;
    font-size: 1rem;
    margin-top: 20px;
    cursor: pointer;
    align-self: flex-end;

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }  
}
